# Python
__pycache__/
*.py[cod]
*.pyc
.venv/
venv/

# Django
db.sqlite3
*.log
local_settings.py

# Static files (collectstatic نىڭ نەتىجىسى)
staticfiles/

# Media files (ئىشلەتكۈچى يوللىغان ھۆججەتلەر)
media/

# IDE
.vscode/
.idea/

# System
.DS_Store
